body {
    background-color: pink;
    color: black;
    text-align: center;
}

h1 {
    color: black;
     font-size: 36px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

p {
   
  	 font-size: 20px;
	font-family: 'Shadows Into Light', cursive;    
}